.top-page {
    text-align: center;
    font-family: 'Bangers';
}
a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 
a:hover {
    background-color: rgb(230, 220, 220);
    text-decoration:none;
}
a:active { 
    text-decoration: none; 
  }

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

  #map {
    height: 60vh;
  }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

ul, li, a {
  font-family: 'Sans Serif Pro';
}

.nav-links {
  display:flex;
  justify-content: center;
}

.nav-links a {
  font-family: 'Sans Serif Pro';
}

.nav-links li {
  margin: 0 15px; /*adjust spacing between links */
}

.title {
  display:flex;
  justify-content: center;
}

.title-description {
  display:flex;
  justify-content: center;
  text-align: center;

}